@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Teko:wght@300..700&display=swap');

:root{
    --corprincipal: #720e07;
    --cordefundo: rgb(31, 30, 30);
    --cortexto: white;
    --fontprincipal: "Teko", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--corprincipal);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
    font-family: "Bebas Neue", sans-serif;
}

li {
    list-style: none;
    font-size: 1.2rem;
    color: var(--cortexto);
    font-family: var(--fontprincipal);
}

a {
    text-decoration: none;
}

h1{
    font-size: 2.5rem;
    color: var(--cortexto);
}

/*Botões fixos*/
.fixed-button {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-top: 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------HEADER---------------*/

.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    background-color: var(--cordefundo); 
    color: white;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0px 8px 10px white;
}

.logo{
    width: 100%;
}

.logo > img{
    width: 150px;
    margin-left: 1rem;
    border-radius: 10px;
}

/*---------------MENU------------*/

.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 100;
    padding-right: 1rem;
}

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
    transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Menu Navegação */
.menu-aberto {
    background-color: var(--cordefundo);
    position: fixed;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
}

.menu-aberto.active {
    height: 100vh;
    opacity: 1;
}

.nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
    user-select: none;
    text-decoration: none;
    color: white;
    font-family: var(--font-pequena);
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
    opacity: 1;
    transform: translateY(0);
}

.nav-menu a:hover {
    color: var(--corprincipal);
    transition: all 0.3s ease;
}

/*---------BEBIDAS ALCOLICAS------------*/

.cardapio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    margin: 0 auto;
}

.conteudo-bebidas-alcolicas{
    width: 100%;
    height: 100%;
    color: var(--cordefundo);
}

.imagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem > img{
    width: 100px;
    border-radius: 10px;
    border: 2px solid white;
}

.titulo-bebidas-alcolicas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.titulo{
    text-shadow: 6px 6px 15px black;
    background-color: rgb(80, 80, 80);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 5px 10px black;
}

.lista{
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(80, 80, 80);
    box-shadow: 1px 5px 10px black;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*************** FOOTER *****/
.footer {
    background-color: var(--cordefundo);
    width: 100vw;
    padding: 1rem 1rem;
    color: white;
    margin-top: 5rem;
}

.credits-column {
    text-align: center;
    font-size: 0.9rem;
}

.credits-column p {
    margin: 0.2rem 0;
}

.credits-column a{
    color: rgb(240, 169, 169);
}

.credits-column a:hover{
    color: orange;
    text-decoration: underline;
}






